header{
    //background: url(../bg.png) no-repeat top bottom/cover;
    .container{
        max-width: 800px;

        .mr-auto{
            a{
              font-size: 25px;
              color: black;
              &:hover{
                  text-decoration: none;
              }
            }   
        }
    }
}